@model QuestionProjectCore.Models.Moderator

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Moderator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeratorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeratorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeratorPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeratorPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moderatormail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moderatormail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeratorAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeratorAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeratorSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeratorSalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
