@model IEnumerable<QuestionProjectCore.Models.Moderator>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModeratorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeratorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moderatormail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeratorAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeratorSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModeratorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeratorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moderatormail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeratorAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeratorSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
